@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, textarea, button {
  font-weight: 400;
}

.calc-max-width {
  max-width: calc(100vw - ((100vw - 1180px) / 2));
}
